.cart {
  display: grid;
  position: relative;
  gap: 30px;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  /* padding-left:1200px ; */
  overflow: auto;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 30px -9px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 30px -9px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 30px -9px rgba(255, 255, 255, 1);
  padding: 10px;
}
::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}
img{
    /* display: flex; */
    width: 450px;
    height: 100%;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;

}
.title_game{
    display: flex;
    border: 2px solid white;
    /* padding: 25px 10px; */
}
.desc{
    color: aliceblue;
    height: 80px;
    width: 550px;
    position: relative;
    top: 20px;
    margin-left: 20px;    
}
.cat{
    margin-top: 20px;

}
.icon{
    font-size: 50px;
    color: red;
    /* padding-left:65px ; */
    position: absolute;
    right:5px;
}
.icon:hover{
    cursor: pointer;
}
.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 50px;
    padding-top: 100px;
}
.minus{
    color: red;
    font-size: 100px;
}


