.card {
  transition: 0.5s;
  width: 85%;
  border-radius: 15px;
  padding-left:20px ;

  /* border: 2px solid wheat; */
  height: 350px;
}
.photo{
  display: inline-block; 
  overflow: hidden;
}
.photo img {
  transition: 1s;
  display: block;
}
.photo img:hover{
  transform: scale(1.2); 
}

.card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 1s; /* Время эффекта */
  display: block;
  height: 228px;
}
/* .photo:hover img{
  transform: scale(1.2); 
} */
.title {
  color: aliceblue;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.button {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 35px;
  width: 100px;
  font-size: 18px;
  color: aliceblue;
  font-weight: bold;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.price {
  color: aliceblue;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  text-transform: capitalize;
}
.buy {
  display: flex;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  text-transform: capitalize;
  width: 50%;
  justify-content: space-evenly;
}
.category {
  color: aliceblue;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  text-transform: capitalize;
}

.logo {
  background-size: contain;
  background-position: bottom center;
  height: 150px;
}
.card:hover {
  /* transform: translateY(10px); */
  /* cursor: pointer;
  -webkit-box-shadow: -3px -9px 10px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: -3px -9px 10px 5px rgba(255, 255, 255, 1);
  box-shadow: -3px -9px 10px 5px rgba(255, 255, 255, 1); */
}
@media screen and (max-width: 992px) {
  .card {
    padding-left:0px ;
    width: 100%;
  };
  
    
}
